/*
RESPONSIVE SIZE GUIDE
Desktop: @media screen and (min-width:1024px)
Tablet: @media screen and (min-width: 768px) and (max-width: 1023px)
Smartphone: @media screen and (max-width: 767px)

 Tama帽os de pantalla comunes
M贸vil: 360 x 640
M贸vil: 375 x 667
M贸vil: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tableta: 768 x 1024
Un ordenador port谩til: 1366 x 768
Un ordenador port谩til o desktop de alta resoluci贸n: 1920 x 1080
*/

/* Smartphone small*/
@media screen and (max-width: 580px){

    .nav-bar{
        
        .checkbtn{
            display: block;
        }

        .menu-icon{
            display: block;
            position: fixed;

            top: 30px;
            right: 20px;
        }

        .nav-btn{
            display:block;
            position: fixed;

            top: 110px;
            left: -100%;
            
            background-color: rgb(15,15,15);

            width: 100%;
            height: 100vh;

            right: 0;
        }

        .nav-btn li{
            display: flex;
            padding: 2rem;

            justify-content: center;
        }

        #check:checked {
            & ~ ul{
            left: 0;
            }

            &:has( > nav){
                background-color: transparent;
            }
        }

    }

    .bio-sect{
        /* Bio decos*/
        .deco{
            /* Izquierda*/
            .deco1{
                top:37rem;
                left: -60px;
            }
            .deco2{
                top:42rem;
                left: -95px;
            }

            /* Derecha*/
            .deco3{
                top:0;
                left: 50px;
            }
            .deco4{
                top:5em;
                left: 45px;
            }
        }

        /* Bio content*/
        .bio{
            flex-direction: column;
            
            width: 80%;
            
            padding: 30px;
            
            z-index:1;  

            margin:6rem auto;
            margin-bottom: 3rem;

            img{
                margin-left: 20px;
            }
            .bio-container{
                margin-left: 0;
                width: 100%;

                .bio-footer{
    
                    width: 100%;
                    .btn-container{
                            
                        width: 100%;
                        
    
                        .btn{
                            justify-content: space-around;
                            width: max-content;
                        }
                        
                    }
                }   
            }
        }

        .logos-container{
            width: 80%;
        }
    }

    .prj-sect{
        height: max-content;

        padding: 2em 0;

        .prj-tittle{
            width: 70%;
            
            position: relative;
        }

        .card-container{
            flex-direction: column;
            gap: 20px;

            width: 95%;

            padding: 40px 0;

            .card{
                width: 85%;
                height: max-content;

                margin:0 auto;

                padding:0;


                img{
                    width: 100%;
                    max-height: 14.2rem;

                    border-radius: 10px 10px 0 0;
                }

                .card-text{
                    padding-left: 30px;

                    p{
                        font-size: 18px;
                        font-weight: 100;

                        max-width: 35ch;
                    }

                    i{
                        font-size: 17px;
                    }
                }

                a{
                    margin: 20px;
                    margin-left: 30px;
                }
            }
        }
    }

    .aboutme-sect{
        display: flex;
        position: relative;
        flex-direction: column;

        .deco{
            display: none;
        }

        .skills-container{
            padding: 0;

            width: 100%;

            padding: 2em 0;

            gap:20px;

            margin:0;
            .skill{
                max-width: 95%;
            }
        }

        .aboutme-container{
            margin:0;
            
            padding: 2em;

            max-width: 100%;

            p{
                width: 80%;
            }

            img{
                width: 10em;
            }
        }
    }

    #contact{
        display: flex;
        flex-direction: column;

        padding-top: 20px;

        height: max-content;

        .contact-container{
            margin-top: 20px;
        }
    }
}

/* Smartphone*/
@media screen and (min-width:581px) and (max-width: 767px){

    .nav-bar{
        
        .checkbtn{
            display: block;
        }

        .menu-icon{
            display: block;
            position: fixed;

            top: 30px;
            right: 20px;
        }

        .nav-btn{
            display:block;
            position: fixed;

            top: 110px;
            left: -100%;
            
            background-color: rgb(15,15,15);

            width: 100%;
            height: 100vh;

            right: 0;
        }

        .nav-btn li{
            display: flex;
            padding: 2rem;

            justify-content: center;
        }

        #check:checked {
            & ~ ul{
            left: 0;
            }

            &:has( > nav){
                background-color: transparent;
            }
        }

    }

    .bio-sect{

        /* Bio decos*/
        .deco{
            /* Izquierda*/
            .deco1{
                top:37rem;
                left: -60px;
            }
            .deco2{
                top:42rem;
                left: -95px;
            }

            /* Derecha*/
            .deco3{
                top:0;
                left: 50px;
            }
            .deco4{
                top:5em;
                left: 45px;
            }
        }

        /* Bio content*/
        .bio{
            flex-direction: column;
            
            width: 70%;
            
            padding: 30px;
            
            z-index:1;  

            margin:6rem auto;
            margin-bottom: 3rem;

            img{
                margin-left: 20px;
            }

            .bio-container{
                margin-left: 20px;

                max-width: 90%;
            }
        }

        .logos-container{
            width: 80%;
        }
    }

    .prj-sect{
        height: max-content;

        padding: 2em 0;

        .prj-tittle{
            width: 70%;
            
            position: relative;
        }

        .card-container{
            flex-direction: column;
            gap: 20px;

            width: 95%;

            padding: 40px 0;

            .card{
                width: 85%;
                height: 60vh;

                margin:0 auto;

                padding:0;


                img{
                    width: 100%;
                    max-height: 14.2rem;

                    border-radius: 10px 10px 0 0;
                }

                .card-text{
                    padding-left: 30px;

                    p{
                        font-size: 18px;
                        font-weight: 100;

                        max-width: 35ch;
                    }

                    i{
                        font-size: 17px;
                    }
                }

                a{
                    margin: 20px;
                    margin-left: 30px;
                }
            }
        }
    }

    .aboutme-sect{
        display: flex;
        position: relative;
        flex-direction: column;

        padding: 0;
        .deco{
            /* Formas izquierda*/
            .deco1{
                top:50rem
            }
            .deco2{
                top: 55rem;
            }

            /* Formas derecha*/
            .deco3{
                top: 15rem;
            }
            .deco4{
                top: 20rem;
            }

            /* Elipse  arriba*/
            .deco5{
                justify-content: start;
                left: 15rem;
            }
            
        }

        .skills-container{
            padding: 0;

            width: 100%;

            padding: 2em 0;

            gap:20px;

            margin:0;
            .skill{
                max-width: 95%;
            }
        }

        .aboutme-container{
            margin:0;
            
            padding: 2em;

            max-width: 100%;

            p{
                width: 80%;
            }

            img{
                width: 10em;
            }
        }
    }

    #contact{  
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);

        gap: 20px;

        height: max-content;

        .contact-datos{
            grid-column: 0/1;
            grid-row: 1/2;

            p{
                max-width: 80%;
                text-align: center;
            }
        }

        .contact-container{

            grid-column: 0/-1;
            grid-row:2/-1
        }

        .contact-logo{
            grid-row: 1/-1;

            img{
                width: 8rem;

                padding: 10px;
            }
        }
    }
}

/* Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){

    .nav-bar{
        
        .checkbtn{
            display: block;
        }

        .menu-icon{
            display: block;
            position: fixed;

            top: 30px;
            right: 20px;
        }

        .nav-btn{
            display:block;
            position: fixed;

            top: 110px;
            left: -100%;
            
            background-color: rgb(15,15,15);

            width: 100%;
            height: 100vh;

            right: 0;
        }

        .nav-btn li{
            display: flex;
            padding: 2rem;

            justify-content: center;
        }

        #check:checked {
            & ~ ul{
            left: 0;
            }

            &:has( > nav){
                background-color: transparent;
            }
        }

    }

    .bio-sect{

        /* Bio decos*/
        .deco{
            /* Izquierda*/
            .deco1{
                top:37rem;
                left: -60px;
            }
            .deco2{
                top:42rem;
                left: -95px;
            }

            /* Derecha*/
            .deco3{
                top:0;
                left: 50px;
            }
            .deco4{
                top:5em;
                left: 45px;
            }
        }

        /* Bio content*/
        .bio{
            flex-direction: column;
            
            width: 70%;
            
            padding: 60px 10px ;
            
            z-index:1;  

            margin:6rem auto;
            margin-bottom: 3rem;

            img{
                margin-left: 10%;
            }

            .bio-container{
                margin-left: 10%;

                max-width: 90%;
            }
        }
    }

    .prj-sect{
        height: max-content;

        padding: 2em 0;

        .prj-tittle{
            width: 70%;
            
            position: relative;
        }

        .card-container{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);

            gap:25px;

            .card{
                width: 100%;
                height: 60vh;

                margin:0 auto;

                padding:0;


                img{
                    width: 100%;
                    max-height: 10em;

                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }

                .card-text{
                    padding-left: 30px;

                    p{
                        font-size: 18px;
                        font-weight: 100;

                        max-width: 35ch;
                    }

                    i{
                        font-size: 17px;
                    }
                }

                a{
                    margin: 20px;
                    margin-left: 30px;
                }
            }
        }
    }

    .aboutme-sect{
        display: flex;
        position: relative;
        flex-direction: column;

        padding: 0;
        .deco{
            /* Formas izquierda*/
            .deco1{
                top:50rem
            }
            .deco2{
                top: 55rem;
            }

            /* Formas derecha*/
            .deco3{
                top: 15rem;
            }
            .deco4{
                top: 20rem;
            }

            /* Elipse  arriba*/
            .deco5{
                justify-content: start;
                left: 15rem;
            }
            
        }

        .skills-container{
            padding: 0;

            width: 100%;

            padding: 2em 0;

            gap:20px;

            margin:0;
            .skill{
                max-width: 95%;
            }
        }

        .aboutme-container{
            margin:0;
            
            padding: 2em;

            max-width: 100%;

            p{
                width: 80%;
            }

            img{
                width: 10em;
            }
        }
    }

    #contact{  
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);

        gap: 20px;

        height: max-content;
        .contact-datos{
            grid-column: 0/1;
            grid-row: 1/2;

            p{
                max-width: 80%;
                text-align: center;
            }
        }

        .contact-container{
            grid-column: 0/-1;
            grid-row:2/-1
        }

        .contact-logo{
            grid-row: 1/-1;

            img{
                width: 8rem;

                padding: 10px;
            }
        }
    }
}

/* laptops*/
@media screen and (min-width:1024px) and (max-width: 1280px){
   
    .bio-sect{

        /* Bio decos*/
        .deco{
            /* Izquierda*/
            .deco1{
                top:37rem;
                left: -60px;
            }
            .deco2{
                top:42rem;
                left: -95px;
            }

            /* Derecha*/
            .deco3{
                top:0;
                left: 50px;
            }
            .deco4{
                top:5em;
                left: 45px;
            }
        }

        /* Bio content*/
        .bio{
            flex-direction: column;
            
            width: 70%;
            
            padding: 60px 10px ;
            
            z-index:1;  

            margin:6rem auto;
            margin-bottom: 3rem;

            img{
                margin-left: 10%;
            }

            .bio-container{
                margin-left: 10%;

                max-width: 90%;
            }
        }
    }

    .prj-sect{
        height: max-content;

        padding: 2em 0;

        .prj-tittle{
            width: 70%;
            
            position: relative;
        }

        .card-container{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);

            gap:25px;

            .card{
                width: 100%;
                height: 60vh;

                margin:0 auto;

                padding:0;


                img{
                    width: 100%;
                    max-height: 10em;

                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }

                .card-text{
                    padding-left: 30px;

                    p{
                        font-size: 18px;
                        font-weight: 100;

                        max-width: 35ch;
                    }

                    i{
                        font-size: 17px;
                    }
                }

                a{
                    margin: 20px;
                    margin-left: 30px;
                }
            }
        }
    }

    .aboutme-sect{
        display: flex;
        position: relative;
        flex-direction: column;

        padding: 0;

        .deco{
            /* Formas izquierda*/
            .deco1{
                top:50rem
            }
            .deco2{
                top: 55rem;
            }

            /* Formas derecha*/
            .deco3{
                top: 15rem;
            }
            .deco4{
                top: 20rem;
            }

            /* Elipse  arriba*/
            .deco5{
                justify-content: start;
                left: 20rem;
            }
            
        }

        .skills-container{
            padding: 0;

            width: 100%;

            padding: 2em 0;

            gap:20px;

            margin:0;
            .skill{
                max-width: 95%;
            }
        }

        .aboutme-container{
            margin:0;
            
            padding: 2em;

            max-width: 100%;

            p{
                width: 80%;
            }

            img{
                width: 10em;
            }
        }
    }

    #contact{  
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);

        gap: 20px;

        height: max-content;
        .contact-datos{
            grid-column: 0/1;
            grid-row: 1/2;

            p{
                max-width: 80%;
                text-align: center;
            }
        }

        .contact-container{
            grid-column: 0/-1;
            grid-row:2/-1
        }

        .contact-logo{
            grid-row: 1/-1;

            img{
                width: 8rem;

                padding: 10px;
            }
        }
    }
}