/*
RESPONSIVE SIZE GUIDE
Desktop: @media screen and (min-width:1024px)
Tablet: @media screen and (min-width: 768px) and (max-width: 1023px)
Smartphone: @media screen and (max-width: 767px)

 Tama帽os de pantalla comunes
M贸vil: 360 x 640
M贸vil: 375 x 667
M贸vil: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tableta: 768 x 1024
Un ordenador port谩til: 1366 x 768
Un ordenador port谩til o desktop de alta resoluci贸n: 1920 x 1080
*/

/* Smartphone*/
@media screen and (max-width: 767px){
    section{
        height: 120vw;
    }

    .bio-sect{
        /* Bio decos*/
        .deco{
            /* Izquierda*/
            .deco1{
                left: -60px;
            }
            .deco2{
                left: -95px;
            }

            /* Derecha*/
            .deco3{
                top:8em;
                left: 50px;
            }
            .deco4{
                top:12.5rem;
                left: 45px;
            }
        }

        /*Nav bar*/
        .navbar{

            height: 7em;
            .navbar-btn{
                background-color: blue;
            }

            .navbar-btn{
                display:none;

            }

            img{
                margin-left: 1em;
                width: 5em;
                height: max-content;
            }

            #navbar-menu{
                display:flex;
                position:relative;

                font-size: 50px;

                margin-right: 5%;

                width: 4rem;
                height: 4rem;

                justify-content: center;
                align-items: center;
                
                border:transparent;
            }
        }

        /* Bio content*/
        .bio{
            flex-direction: column;
            
            width: 70%;
            
            padding: 30px;
            
            z-index:2;  

            margin:6rem auto;
            margin-bottom: 3rem;

            img{
                margin-left: 20px;
            }

            .bio-container{
                margin-left: 20px;
                
            }
        }
    }

    .prj-sect{
        height: max-content;

        padding: 2em 0;

        .prj-tittle{
            width: 70%;
            
            position: relative;
        }

        .card-container{
            flex-direction: column;
            gap: 20px;

            width: 75%;

            padding: 40px 0;

            .card{
                width: 85%;
                height: 60vh;

                margin:0 auto;

                padding:0;


                img{
                    width: 100%;
                    max-height: 14.2rem;

                    border-radius: 10px 10px 0 0;
                }

                .card-text{
                    padding-left: 30px;

                    p{
                        font-size: 18px;
                        font-weight: 100;

                        max-width: 35ch;
                    }

                    i{
                        font-size: 17px;
                    }
                }

                a{
                    margin: 20px;
                    margin-left: 30px;
                }
            }
        }
    }

    .aboutme-sect{
    }

    #contact{
    }
}